<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techvolution</title>
    <link rel="icon" type="image/png" href="../assets/phone-fill.svg">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="../styling/index.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->

    <div class="container" >
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="title"><img src="../assets/phone-fill.svg" alt="Techvolution Logo" height="40">Techvolution</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Apple
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="iphone.html">iPhone Series</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Google
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="pixel.html">Pixel Series</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <!-- About Techvolution -->

    <div class="container my-5">
        <div class="p-5 rounded-3 bg-body-tertiary">
          <h1 class="text-body-emphasis text-center fw-bold">About Us</h1>
          <h1 class="text-body-emphasis text-center fw-bold">Techvolution: The Evolution of Smartphone</h1>
          <br><br>
          <p class="col-lg-8 mx-auto fs-5 text-muted">
            Techvolution is a website that tracks the evolution of the smartphone. We provide news, reviews, and analysis of the latest smartphones and smartphone trends. We also offer a comprehensive history of the smartphone, from its humble beginnings to the present day.
            <br><br>
            We believe that the smartphone is one of the most important technological innovations of our time. It has changed the way we live, work, and communicate. We are committed to providing our readers with the latest information about the smartphone so that they can stay ahead of the curve.
            <br><br>
            Visit Techvolution today to learn more about the evolution of the smartphone.
          </p>
        </div>
    </div>

    <!-- Footer -->

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="./iphone.html" class="nav-link px-2 text-body-secondary">iPhone</a></li>
            <li class="nav-item"><a href="./pixel.html" class="nav-link px-2 text-body-secondary">Pixel</a></li>
            <li class="nav-item"><a href="./about.html" class="nav-link px-2 text-body-secondary">About Us</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2023 Techvolution</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>