<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techvolution</title>
    <link rel="icon" type="image/png" href="../assets/phone-fill.svg">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="../styling/index.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->

    <div class="container" >
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="title"><img src="../assets/phone-fill.svg" alt="Techvolution Logo" height="40">Techvolution</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Apple
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="iphone.html">iPhone Series</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Google
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="pixel.html">Pixel Series</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- Main Body -->
    <div class="main_container">
      <div class="apple-container">
        <img src="../assets/iphone/apple.svg" alt="Apple Logo" class="col-lg-1 col-2 col-md-1 d-block mx-auto mt-5">
      </div>
      
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_2g.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 2G</h1>
                <p class="lead">
                    The iPhone 2G is the first iPhone model and the first smartphone designed by Apple Inc. 
                    It was officially launched on January 9, 2007 and was released in the United States on June 29, 2007.
                    <br>The iPhone was released in the United States at a starting price of $499. 
                    Apple sold almost 6.1 million units of the original iPhone, and turned the smartphone industry "on its head".
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_3g.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 3G</h1>
                    <p class="lead">
                        The iPhone 3G is the second generation of iPhone, successor to the original iPhone and was introduced on June 9, 2008. 
                        The iPhone 3G is internally similar to its predecessor, but included several new hardware features, such as GPS, 3G data and tri-band UMTS/HSDPA.
                        <br>On July 11, 2008, Apple released the iPhone 3G across twenty-two countries at a starting price of $599.
                        Apple sold almost 1 million iPhone 3G just over the first weekend.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_3gs.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 3GS</h1>
                <p class="lead">
                    The iPhone 3Gs is the third generation iPhone and was launched as a successor of iPhone 3 on June 8, 2009. 
                    The iPhone is named "3Gs" where "s" stood for speed which included improvements in performance, camera and download speeds.
                    <br>The iPhone 3Gs was released on June 19, 2009 in United States, Canada, France, Germany, Italy, Spain, Switzerland and United Kingdom at a starting price of $599. 
                    Within the first weekend of its release, over 1 million iPhone 3Gs units were sold.
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 4</h1>
                    <p class="lead">
                        The iPhone 4 is the fourth generation of the iPhone lineup, succeeding the iPhone 3GS and was first unveiled on June 7, 2010. 
                        The iPhone 4 introduced Apple's new high-resolution "Retina Display" (with a pixel density of 326 pixels per inch), Apple's A4 SOC, along with iOS 4.
                        <br>The iPhone 4 was available for pre-order on June 15, 2010 at a starting price of $599. 
                        The iPhone 4 sold 1.7 million units in its first three days of availability.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-12 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_4s.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 4s</h1>
              <p class="lead">
                  The iPhone 4s is the fifth generation of the iPhone and was announced on October 4, 2011. 
                  The iPhone was named "4s" where "s" stood for Siri, an intelligent personal assistant. 
                  The 4s hosted major internal upgrades including Apple A5 chipset and an 8 megapixel camera with 1080p video recording.
                  <br>The iPhone 4s was available from October 14, 2011 at a price of $649. 
                  Apple sold almost four million units in first three days of initial sales and went on to sell a total of 60+ million units.
              </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-12 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_5.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 5</h1>
                  <p class="lead">
                      The iPhone 5 is the sixth generation iPhone which was unveiled as part of a press event on September 12, 2012. 
                      The iPhone 5 featured major design changes which included an aluminum-based body, a taller 4-inch screen with a nearly 16:9 aspect ratio, the Apple A6 SOC, LTE support and Lightning port.
                      <br>Apple began taking pre-orders on September 14, 2012 at a price of $649, and over two million orders were received within 24 hours. 
                      Apple sold 5 million units in the first three days of release.
                  </p>
              </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-112 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_5s.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 5s</h1>
              <p class="lead">
                  The iPhone 5s is the seventh generation of the iPhone and was unveiled on September 10, 2013 alongside the more affordable iPhone 5C. 
                  The iPhone 5s introduced the A7 64 bit dual-core SOC, the first 64 bit processor to be used on a smartphone and a redesigned home button with Touch ID, a fingerprint recognition system.
                  <br>The iPhone 5s was released on September 20, 2013 at a price of $649. 
                  Nine million units of iPhone 5s and iPhone 5C were sold on the weekend of their release, breaking Apple's sales record for iPhone. 
                  The iPhone 5s was the best selling phone in September 2013.
              </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-12 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_6.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 6 and iPhone 6 Plus</h1>
                  <p class="lead">
                      The iPhone 6 and iPhone 6 Plus are the eighth generation of iPhone and were announced on September 9, 2014. 
                      The iPhone 6 and 6 Plus include larger 4.7 and 5.5 inches displays, a faster processor, upgraded cameras, improved LTE and Wi-Fi connectivity.
                      <br>Pre-orders began on September 12, 2014, with the iPhone 6 starting at $649 and the iPhone 6 Plus starting at $749. 
                      The iPhone 6 and 6 Plus sold 4 million+ unit on the first day and almost 220 million+ units in total during its initial sale. The iPhone 6 became the best-selling iPhone model and the most successful smartphone to date.
                  </p>
              </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-112 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_6s.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 6s and 6s Plus</h1>
              <p class="lead">
                  The iPhone 6s and 6s Plus are the ninth generation of iPhone and were announced on September 9, 2015 alongside the affordable iPhone SE. 
                  The iPhone 6s series includes a strengthened 7000 series aluminum alloy chassis and upgraded Apple A9 SOC, a new 12-megapixel rear camera that can record upto 4k video at 30 fps. 
                  The iPhone 6s and 6s Plus are also the first smartphones to use the fastest high end flash storage NVM Express (NVMe).
                  <br>Pre-orders of iPhone 6s and 6s Plus began on September 12, 2015 at a starting price of $649 and $749 respectively. 
                  Apple sold almost 13 million units in the launch weekend and a total of 174.1 million units during its sale.
              </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-112 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_7.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 7 and iPhone 7 Plus</h1>
                  <p class="lead">
                      The iPhone 7 and 7 Plus are the tenth generation of the iPhone and were announced on September 7, 2016. 
                      The iPhone 7 series introduced some changes including  new color options (Matte Black and Jet Black), water and dust resistance, a new capacitive, static home button, revised antenna bands, and the controversial removal of the 3.5 mm headphone jack. 
                      The device's internal hardware received upgrades, including a heterogeneous quad-core system-on-chip with improved system and graphics performance, upgraded 12 megapixel rear-facing cameras with optical image stabilization on all models, and an additional telephoto lens exclusive to the iPhone 7 Plus to provide enhanced (2x) optical zoom capabilities and portrait mode.
                      <br>The iPhone 7 and 7 Plus were released on September 16, 2016 at a price of $649 and $769 respectively. The iPhone 7 and iPhone 7 Plus were the best-selling smartphones worldwide during the first quarter of 2017, selling 21.5 million and 17.4 million units, respectively.
                  </p>
              </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-12 col-sm-12 col-lg-6">
                  <img src="../assets/iphone/iphone_8.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 8 and 8 Plus</h1>
              <p class="lead">
                  The iPhone 8 and 8 Plus were the eleventh generation of iPhone unveiled on September 12, 2017. 
                  Notable changes include the removal of the rose gold and jet black color variants, addition of inductive charging, a faster processor, addition of glass back and improved cameras and displays.
                  <br>The iPhone 8 and 8 Plus were released on September 22, 2017 at a starting price of $699 and $799 respectively. 
                  The iPhone 8 and 8 Plus sold 86.3 million units worldwide, making them one of the best selling smartphones of all time.
              </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-112 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_10.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone X</h1>
                    <p class="lead">
                        The iPhone X is part of the eleventh generation of iPhone and was unveiled with iPhone 8 series on September 12, 2017. 
                        The iPhone X used a glass and stainless-steel form factor and "bezel-less" design. 
                        It was the first iPhone to use an OLED screen which Apple called Super Retina HD display. 
                        The home button's fingerprint sensor was replaced with a new type of authentication called Face ID, which used sensors to scan the user's face to unlock the device.
                        <br>The iPhone X was released on November 3, 2017 at a starting price of $999, making it the most expensive iPhonne ever. 
                        The iPhone X sold almost 16 million units in the Q1 of 2018 worldwide.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_xs.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone XS and XS Max</h1>
                <p class="lead">
                    The iPhone XS and XS Max are the twelth generation flagships of the iPhone announced on September 12, 2018 alongside a lower-end model, iPhone XR. 
                    Improvements besides increased computing speeds include dual-SIM support, filming with stereo audio, and strengthened water resistance.
                    <br>The iPhone XS and XS Max went on sale on September 21, 2018 at a price of $999 and $1099 respectively, making it the first iphone to cross 1000 dollar mark. 
                    The iPhone XS and XS Max sold almost 48 million units in total till the end of June 2019.
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_11.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 11</h1>
                    <p class="lead">
                        The iPhone 11 is the thirteenth generation of iPhone unveiled on September 10, 2019, alongside the higher end iPhone 11 Pro. 
                        Substantial design changes within the phone took place, including the addition of the more powerful Apple A13 Bionic chip as well as an ultra-wide dual-camera system. 
                        <br>The iPhone 11 was officially released on September 20, 2019 at a starting price of $699. 
                        As of March 2022, the iPhone 11 series sold 159.2 million units worldwide, making it the tenth best-selling smartphone of all time.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_11pro.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 11 Pro and 11 Pro Max</h1>
                <p class="lead">
                    The iPhone 11 Pro and 11 Pro Max are the thirteenth generation of iPhone announced on September 10, 2019. 
                    Notable improvements over the previous devices include the triple-lens rear camera system and the A13 Bionic chip.
                    <br>The iPhone 11 Pro and 11 Pro Max were released on September 20, 2019 at a base price of $999 and $1099 respectively. 
                    The iPhone 11 series sold almost 159.2 million units worldwide.
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_12.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 12 and 12 Mini</h1>
                    <p class="lead">
                        The iPhone 12 and 12 Mini are the fourteenth generation, "affordable flagship" iPhone unveiled on October 13, 2020. 
                        The major upgrades over the iPhone 11 include the addition of a Super Retina XDR OLED as opposed to the Liquid Retina LED-backlit LCD IPS panel on the iPhone 11 and XR, 5G support, the introduction of MagSafe, Apple A14 Bionic system on a chip (SoC) and high-dynamic-range video Dolby Vision 4K up to 30 fps.
                        <br>The iPhone 12 was released on October 23, 2020 at $799 while the iPhone 12 Mini was released on November 13, 2020 at $699. 
                        The iPhone 12 series crossed 100 million units in just seven months from its launch.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_12pro.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 12 Pro and 12 Pro Max</h1>
                <p class="lead">
                    The iPhone 12 Pro and 12 Pro Max are the flagship smartphone in the fourteenth generation of iPhone and was announced on October 13, 2020. 
                    Major upgrades over the iPhone 11 Pro and 11 Pro Max include the addition of 5G support, the lidar sensor, the introduction of the MagSafe wireless charging and accessory system, the Apple A14 Bionic system on a chip (SoC), high-dynamic-range video Dolby Vision 10-bit 4:2:0 4K video recording at 30 or 60 fps, larger 6.1-inch and 6.7-inch displays on the iPhone 12 Pro and iPhone 12 Pro Max, respectively.
                    <br>The iPhone 12 Pro was released on October 23, 2020 at a starting price of $999 and the iPhone 12 Pro Max on November 13, 2020 at a price of $1099. 
                    The iPhone 12 series crossed 100 million units in just seven months from its launch.
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_13.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 13 and 13 Mini</h1>
                    <p class="lead">
                        The iPhone 13 and 13 Mini are the fifteenth generation of iPhone that were unveiled on September 14, 2021. 
                        The iPhone 13 and 13 Mini use an Apple-designed A15 Bionic system on a chip and feature a 6-core CPU, 4-core GPU, and 16-core Neural Engine. 
                        The iPhone 13 and 13 Mini feature the same camera system with three cameras: one front-facing camera (12MP f/2.2) and two back-facing cameras: a wide (12MP f/1.6) and ultra-wide (12MP f/2.4) camera.
                        <br>The iPhone 13 and 13 Mini were officially released on September 24, 2021 at a price of $699 and $799 respectively. 
                        More than 100 million units of iPhone 13 series were shipped during the year 2021.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_13pro.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 13 Pro and 13 Pro Max</h1>
                <p class="lead">
                    The iPhone 13 Pro and 13 Pro Max were the flagship smartphones in the fifteenth generation of the iPhone announced on September 14, 2021. 
                    Major upgrades over its predecessor include improved battery life, improved cameras and computational photography, rack focus for video in a new "Cinematic Mode" at 1080p 30 fps, Apple ProRes video recording, a new A15 Bionic system on a chip, and a variable 10-120 Hz display, marketed as ProMotion.
                    <br>Pre-orders for iPhone 13 Pro and 13 Pro Max began on September 14, 2021 at a base price of $999 and $1099 respectively. 
                    More than 100 million units of iPhone 13 series were shipped during the year 2021.
                </p>
            </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_14.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 14 and 14 Plus</h1>
                    <p class="lead">
                        The iPhone 14 and 14 Plus are the sixteenth generation of iPhones and were announced on September 7, 2022. 
                        The iPhone 14 and 14 Plus feature a 6.1-inch (15 cm) and 6.7-inch (17 cm) display, improvements to the rear-facing camera, and satellite connectivity for contacting emergency services when a user in trouble is beyond the range of Wi-Fi or cellular networks.
                        <br>The iPhone 14 was made available on September 16, 2022,[12] and iPhone 14 Plus was made available on October 7, 2022, priced at $799 and $899 respectively and was launched with iOS 16. 
                        The iPhone 14 and 14 Plus sold almost 26 million units in the first two months after its release.
                    </p>
                </div>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="../assets/iphone/iphone_14pro.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">iPhone 14 Pro and 14 Pro Max</h1>
                <p class="lead">
                    The iPhone 14 Pro and 14 Pro Max are the sixteenth generation flagship iPhones announced on September 7, 2022. 
                    The iPhone 14 Pro and 14 Pro Max are the first iPhones to have a new type of display cutout called "Dynamic Island", replacing the notch design that has been in use since the iPhone X was introduced. Along with the iPhone 14, iPhone 14 Pro models add bidirectional satellite connectivity to contact emergency services when out of range of Wi-Fi and cellular networks.
                    <br>Pre-orders for the iPhone 14 Pro and 14 Pro Max began on September 9, 2022, and were made available on September 16, 2022 at a base price of $999 and $1099 respectively. 
                    The sales of the iPhone 14 Pro and 14 Pro Max account for 18.14 million units in the first two months of its release.
                </p>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="./iphone.html" class="nav-link px-2 text-body-secondary">iPhone</a></li>
            <li class="nav-item"><a href="./pixel.html" class="nav-link px-2 text-body-secondary">Pixel</a></li>
            <li class="nav-item"><a href="./about.html" class="nav-link px-2 text-body-secondary">About Us</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2023 Techvolution</p>
        </footer>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>