<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techvolution</title>
    <link rel="icon" type="image/png" href="../assets/phone-fill.svg">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="../styling/index.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar -->

    <div class="container" >
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="title"><img src="../assets/phone-fill.svg" alt="Techvolution Logo" height="40">Techvolution</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Apple
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="iphone.html">iPhone Series</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Google
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="pixel.html">Pixel Series</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <!-- Main Body -->

    <div class="main_container">
        <div class="google-container">
            <img src="../assets/pixel/google_logo.svg" alt="Google Logo" class="col-lg-2 col-3 col-md-1 d-block mx-auto mt-5">
        </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel and Pixel XL</h1>
            <p class="lead">
                The Pixel and Pixel XL are a pair of Android smartphones designed, developed, and marketed by Google as part of the Google Pixel product line and were officially announced on October 6, 2016. 
                The Pixels have an aluminium chassis, with a glass panel on the rear, a USB-C connector, 3.5 mm headphone jack, and a 12.3 megapixel rear-facing camera. 
                At launch, the devices featured certain exclusive software features, including the 7.1 "Nougat" update to the Android operating system, integration with the Google Assistant intelligent personal assistant, live technical support services, and unlimited full-resolution Google Photos backup for the life of the device.
                <br>The Pixel and Pixel XL were released on October 20, 2016 at a starting price of $649 and $769 respectively.
                Google sold a total of 3.35 million units of Pixel series.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 2 and Pixel 2 XL</h1>
                <p class="lead">
                    The Pixel 2 and Pixel 2 XL are a pair of Android smartphones designed, developed, and marketed by Google as part of the Google Pixel product line. 
                    They collectively serve as the successors to the Pixel and Pixel XL and were officially announced on October 4, 2017. 
                    The Pixel 2 has a 5-inch (130 mm) 16:9 1080p (1920 x 1080) AMOLED display panel with a pixel density of 441 ppi, while the Pixel 2 XL comes with a 6-inch (150 mm) 2:1 1440p (2880 x 1440) P-OLED display panel with a pixel density of 538 ppi.
                    Both phones have a 12.2 megapixel rear camera capable of recording 4K video at 30 FPS, 1080p video at 120 FPS, and 720p video at 240 FPS.
                    <br>The Pixel 2 and Pixel 2 XL were released on October 19, 2017 at a price of $649 and $849 respectively.
                    Almost 4.07 million units on Pixel 2 series were sold in its initial sale.
                </p>
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 3 and Pixel 3 XL</h1>
            <p class="lead">
                The Pixel 3 and Pixel 3 XL are a pair of Android smartphones designed, developed, and marketed by Google as part of the Google Pixel product line. 
                They collectively serve as the successors to the Pixel 2 and Pixel 2 XL and were unveiled on October 9, 2018. 
                The Pixel 3 and Pixel 3 XL come with a Snapdragon 845, Pixel Visual Core (PVC) and 12.2 megapixel rear camera, similar to their predecessors, but Google Camera has been updated with new photography features, as well as a second wide-angle selfie camera.
                <br>The Pixel 3 and Pixel 3 XL were released on October 18, 2018 at a starting price of $799 and $899 respectively. 
                A total of 9.07 million units of Pixel 3 series were sold in its lifetime sales worldwide.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_3a.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 3a and Pixel 3a XL</h1>
                <p class="lead">
                    The Pixel 3a and 3a XL are a pair of midrange variants of Pixel 3 and Pixel 3 XL which were announce on May 7, 2019 at Google I/O. 
                    The Pixel 3a and Pixel 3a XL come with the Snapdragon 670 chip and a 12.2 megapixel rear camera, which is the same unit found on the Pixel 3, and a single 8 megapixel front-facing camera, lacking the second wide-angle sensor. 
                    <br>The Pixel 3a and Pixel 3a XL were released on May 7, 2019 at a price of $399 and $479 respectively. 
                    Google shipped 7.2 million units of its Pixel 3a phones in 2019, representing a 52% year-on-year increase in shipments.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 4 and Pixel 4 XL</h1>
            <p class="lead">
                The Pixel 4 and Pixel 4 XL are a pair of Android smartphones designed, developed, and marketed by Google as part of the Google Pixel product line which were officially announced on October 15, 2019. 
                Both models use the Qualcomm Snapdragon 855 system-on-chip and are constructed using an aluminum frame and Gorilla Glass 5. 
                Both models use a wider 19:9 aspect ratio, with the Pixel 4 using a 5.7-inch (140 mm) 1080p panel, and the 4 XL using a 6.3-inch (160 mm) 1440p panel and houses a wide 28 mm 77° f/1.7 lens with the same Sony Exmor IMX363 12.2-megapixel sensor, and a second telephoto 48 mm f/2.4 lens with a 16-megapixel sensor.
                <br>The Pixel 4 and Pixel 4 XL were released on October 24, 2019 at a base price of $799 and $899 respectively. 
                The Pixel 4 and Pixel 4 XL sold a total of 5.40 million units in its initial sales worldwide.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_4a.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 4a and Pixel 4a 5G</h1>
                <p class="lead">
                    The Pixel 4a and Pixel 4a (5G) are a pair of Android smartphones designed, developed, and marketed by Google as part of the Google Pixel product line and was announced on August 3, 2020 and September 30, 2020 respectively. 
                    The Pixel 4a is powered by the Qualcomm Snapdragon 730G system-on-chip / Adreno 618 GPU, while the Pixel 4a (5G) is powered by the Qualcomm Snapdragon 765G system-on-chip / Adreno 620 GPU.
                    The Pixel 4a and Pixel 4a (5G) feature a 1080p OLED display with HDR support measuring 5.8-inches and 6.2-inches respectively. 
                    The Pixel 4a has a single rear-facing camera, with the same 12.2-megapixel sensor found on the Pixel 4; the Pixel 4a (5G) adds a secondary 16-megapixel ultrawide sensor while front-facing camera has a 8-megapixel sensor. 
                    <br>The Pixel 4a released on August 20, 2020 at $349 and the Pixel 4a 5G released on November 5, 2020 at $499. 
                    The Google Pixel 4a sold over 3 million units in its first year of availability.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_5.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 5</h1>
            <p class="lead">
                The Pixel 5 is an Android smartphone designed, developed, and marketed by Google as part of the Google Pixel product line and was officially announced on September 30, 2020. 
                The Pixel 5 is constructed using a "100% recycled aluminum enclosure" and Gorilla Glass 6 for the screen and uses the mid-range Qualcomm Snapdragon 765G system-on-chip. 
                The Pixel 5 features a 6-inch (152mm) 1080p OLED display with HDR10+ support, that operates at a refresh rate of up to 90 Hz. 
                The wide 28 mm 77° f/1.7 lens has the Sony Exmor IMX363 12.2-megapixel sensor, while the ultrawide 107° f/2.2 lens has a 16-megapixel sensor and a front-facing 8-megapixel sensor. 
                <br>The Pixel 5 was released in the United States on October 29, 2020 at $699. 
                Google sold 1.92 million units of Pixel 5 in its lifetime sales.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_5a.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 5a</h1>
                <p class="lead">
                    The Pixel 5a serves as a mid-range variant of the Pixel 5 which was officially announced on August 17, 2021. 
                    The Pixel 5a is built with an aluminum body and Gorilla Glass 3 for the screen and uses the Qualcomm Snapdragon 765G system-on-chip. 
                    The Pixel 5a features a 6.34-inch (161mm) 1080p OLED display with HDR support. 
                    The wide 28 mm 77° f/1.7 lens has the Sony Exmor IMX363 12.2-megapixel sensor, while the ultrawide 107° f/2.2 lens has a 16-megapixel sensor; the front-facing camera uses an 8-megapixel sensor. 
                    <br>The Pixel 5a was released on August 26, 2020 at a price of $449. 
                    Google sold between 1 and 2 million units of Pixel 5a in its first year of availability.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_6.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 6 and Pixel 6 Pro</h1>
            <p class="lead">
                The Pixel 6 and Pixel 6 Pro were officially announced on October 19, 2021, at the Pixel Fall Launch event. 
                The Pixel 6 has a 6.4 in (160 mm) FHD+ 1080p OLED display at 411 ppi with a 2400 x 1080 pixel resolution and a 20:9 aspect ratio, while the Pixel 6 Pro has a 6.7 in (170 mm) QHD+ 1440p LTPO OLED curved edges display at 512 ppi with a 3120 x 1440 pixel resolution and a 19.5:9 aspect ratio. 
                The Pixel 6 and Pixel 6 Pro uses Google's first custom-designed chip called Google Tensor. 
                Both phones contain a 50 megapixel wide rear camera and a 12 megapixel ultrawide rear camera, with the Pixel 6 Pro featuring an additional 48 megapixel 4x optical zoom telephoto rear camera. 
                <br>The Pixel 6 and Pixel 6 Pro were released on October 28, 2021 at a base price of $599 and $899 respectively. 
                Almost 3.75 million units of Pixel 6 series were sold upto October 2022.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_6a.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 6a</h1>
                <p class="lead">
                    The Pixel 6a serves as a midrange variant of the Pixel 6 and Pixel 6 Pro and was announced on May 11, 2022 at Google I/O. 
                    The Pixel 6a is built with an aluminum frame, a plastic back and Gorilla Glass 3 for the screen. 
                    The Pixel 6a uses the Google Tensor system-on-chip and features a 6.1-inch 1080p OLED display with HDR support. 
                    The wide 27 mm f/1.7 lens has the Sony Exmor IMX363 12.2-megapixel sensor, while the ultrawide 114° F/2.2 lens has a 12-megapixel sensor; the front-facing camera uses an 8-megapixel sensor. 
                    <br>The Pixel 6a was available from July 21, 2022 at a starting price of $449. 
                    The Pixel 6a has sold over 1 million units in its first six months of availability, making it one of the most successful pixel phones of all time.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_7.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 7 and Pixel 7 Pro</h1>
            <p class="lead">
                The Pixel 7 and Pixel 7 Pro were officially announced on October 6, 2022, at the annual Made by Google event. 
                The Pixel 7 series are powered by the second-generation Google Tensor chip, and feature a design similar to that of the Pixel 6 series. 
                The Pixel 7 has a 6.3 in (160 mm) FHD+ 1080p OLED display at 416 ppi with a 2400 x 1080 pixel resolution and a 20:9 aspect ratio, while the Pixel 7 Pro has a 6.7 in (170 mm) QHD+ 1440p LTPO OLED curved-edge display at 512 ppi with a 3120 x 1440 pixel resolution and a 19.5:9 aspect ratio. 
                Both phones contain a 50 megapixel wide rear camera and a 12 megapixel ultrawide rear camera, with the Pixel 7 Pro featuring an additional 48 megapixel telephoto 5x optical zoom rear camera. 
                The front camera on both phones contain a 10.8 megapixel ultrawide lens.
                <br>The Pixel 7 and Pixel 7 Pro were released on October 13, 2022 at a price of $599 and $899 respectively. 
                The Pixel 7 Series sold 1 million units worldwide by the end of 2022.
            </p>
        </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5 bg-body-tertiary">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="../assets/pixel/pixel_7a.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pixel 7a</h1>
                <p class="lead">
                    The Pixel 7a serves as a mid-range variant of Pixel 7 and Pixel 7 Pro and was announced at the annual Google I/O keynote on May 10, 2023. 
                    The Pixel 7a is built with an aluminum frame, a plastic back and Gorilla Glass 3 for the screen and uses the Google Tensor G2 system-on-chip. 
                    The Pixel 7a features a 6.1-inch 1080p OLED display with HDR support and a 90 Hz refresh rate. 
                    The wide 26 mm f/1.9 lens has a 64-megapixel sensor, while the ultrawide 120° f/2.2 lens has a 13-megapixel sensor; the front-facing camera uses a 13-megapixel sensor. 
                    <br>The Pixel 7a was released on May 10, 2023 at a base price of $439. 
                    The Pixel 7a sold around 100,000 units in May 2023.
                </p>
            </div>
        </div>
    </div>
    </div>

    <!-- Footer -->

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="./iphone.html" class="nav-link px-2 text-body-secondary">iPhone</a></li>
            <li class="nav-item"><a href="./pixel.html" class="nav-link px-2 text-body-secondary">Pixel</a></li>
            <li class="nav-item"><a href="./about.html" class="nav-link px-2 text-body-secondary">About Us</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2023 Techvolution</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>